<h2 mat-dialog-title>訂單明細</h2>

<mat-dialog-content>
  <p>訂單編號:{{ data.orderCode }}</p>
  <p>訂單類型:{{ data.orderType }}</p>
  <p>客戶資訊:{{ customerDetail() }} </p>
  <p>訂單時間:{{ data.orderTime }}</p>
  <p>付款方式:{{ data.paymentType }}</p>
  <p>付款狀態: <span [style.color]="data.paid ? 'green' : 'red'">{{ data.paid ? '已付' : '未付' }}</span></p>
  <p>總金額:{{ data.totalPrice }}</p>
</mat-dialog-content>

<mat-dialog-content>
  <h3>訂單細節</h3>
  @for(group of data.order_detailsList; track group.orderDetailsId; let i = $index){
    <p>
      明細{{ i + 1 }}
      @if(isEditing) {
        <mat-icon aria-hidden="false" fontIcon="delete" (click)="deleteDetail(i)"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="edit" (click)="changeDetail(i)"></mat-icon>
      }
    </p>
    <p>價格: NT${{ group.orderDetailsPrice }}</p>
    @for(item of group.orderDetails; track item.productId; let j = $index){
      <p>{{ item.productName }} (NT$ {{ item.productPrice }})</p>
      <p>狀態:{{ item.mealStatus }} | 工作臺ID: {{ item.workstationId }}</p>
      @if(item.detailList.length){
        <p>客製化選項</p>
        @for(detail of item.detailList; track detail.option; let k = $index){
          {{detail.option}} (+NT$ {{detail.addPrice}})
          @if(isEditing) {
            <mat-icon aria-hidden="false" fontIcon="delete" (click)="deleteOptions(i, j, k)"></mat-icon>
            <mat-icon aria-hidden="false" fontIcon="edit" (click)="changeOptions(i, j, k)"></mat-icon>
          }
        }
      }
    }
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close()">關閉</button>
  <button (click)="checkOut()" [disabled]="isEditing">結帳</button>
  <button (click)="toggleEditMode()">{{ isEditing ? '儲存修改' : '修改訂單' }}</button>
</mat-dialog-actions>
