<h2 mat-dialog-title class="dialogTitle">
  {{ activity.calendarTitle }}
</h2>

<mat-dialog-content class="dialogContent">

  <div class="imageWrapper">
    <label>活動圖片</label>
    @if (activity.calendarPhoto) {
      <img [src]="activity.calendarPhoto" alt="{{ activity.calendarTitle }}" class="displayImage">
    } @else {
      <div class="noImagePlaceholder">
        <mat-icon>image_not_supported</mat-icon>
        <span>此活動沒有圖片</span>
      </div>
    }
  </div>

  <div class="formRow">
    <div class="formField">
      <label>活動時間</label>
      <div class="styledText">
        <mat-icon class="prefixIcon">calendar_today</mat-icon>
        {{ activity.calendarStartDate | date:'yyyy/MM/dd' }} ~ {{ activity.calendarEndDate | date:'yyyy/MM/dd' }}
      </div>
    </div>
  </div>

  <div class="formField">
    <label>活動內容</label>
    <div class="styledText descriptionText">
      {{ activity.calendarDescription }}
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="dialogActions">
  <button (click)="close()" class="dialogBtn confirmBtn">關閉</button>
</mat-dialog-actions>
