<!-- 還需要一個搜尋框/_>\ 才能串查詢 -->
<header>
  <div class="title">貓咪名簿</div>
  <div class="search">
    <a style="cursor: pointer" type="button" (click)="search()">
      <input class="search_input" (keyup)="changeInput($event)" />
      <i class="fa-solid fa-magnifying-glass" style="line-height: 24px"></i>
    </a>
  </div>
</header>
<!-- 一個商品卡 記得用迴圈寫 吼唷 迴圈很難耶-->
<main class="main">
  <div class="manager">
    @for(data of element_data ; track data){ @if(data.catStatus){
    <div class="postcard">
      <!-- 圖片 -->
      <div class="img_container">
        <img src="{{ data.catImg }}" class="animal_img" (click)="openDialog(data)" />
      </div>
      <!-- 詳細敘述 -->
      <div class="animal_info" (click)="openDialog(data)">
        <p>姓名：{{ data.catName }}</p>
        <!-- <p>年齡：{{ data.age }}歲</p>
        <p>關於我：</p>
        <p class="about_pet" [class.open]="data.isExpanded">
          {{ data.catInfo }}
        </p> -->
      </div>
    </div>
    }@else if (!data.catStatus) {
    <div class="postcard_f">
      <p class="no_work">今天不上班</p>
      <!-- 圖片 -->
      <label>
        <div class="img_container_f">
          <img src="{{ data.catImg }}" class="animal_img" (click)="openDialog(data)" />
        </div>
      </label>
      <!-- 詳細敘述 -->
      <div class="animal_info_f" (click)="openDialog(data)">
        <p>姓名：{{ data.catName }}</p>
        <!-- <p>年齡：{{ data.age }}歲</p>
        <p>關於我：</p>
        <p class="about_pet">
          {{ data.catInfo }}
        </p> -->
      </div>
    </div>
    } }
  </div>
</main>
<!-- <button (click)="go()" class="btn">
  <p>回首頁</p>
  <ul>
    <i class="fa-solid fa-house"></i>
  </ul>
</button> -->
<footer></footer>
