<h2 mat-dialog-title>點餐資訊</h2>

<mat-dialog-content>
  <p>訂單類型:{{ data.orderType }}</p>
  <p>客戶資訊:{{ customerDetail() }} </p>
  <p>付款方式:{{ data.paymentType }}</p>
  <h3>🛒 訂單細節</h3>

  @for(group of data.order_detailsList; track group.orderDetailsId; let i = $index){
  <div>

    @for(data of group.orderDetails; track data.productId){
    <div>
      <span>
        <button (click)="down(data)">-</button>
        {{ data.quantity || 1 }} <button (click)="up(data)">+</button>
      </span>
      <span class="positionCss">單價:NT$ {{ data.productPrice }}</span>
      <br>
      <span>{{ data.productName }}</span>


    </div>

    <div>
      <span>{{ data.description || '無備註' }}</span>
    </div>

    @if(data.detailList.length){
    <div>
      客製化選項: @for(detail of data.detailList; track detail.option){
      <span>{{ detail.option }} (+NT$ {{ detail.addPrice }})</span>
      }
    </div>
    }
    }
    <hr>
  </div>
  }

  <div>
    <span>小計</span>
    <span>NT$ {{ data.totalPrice }}**</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="addOrder()">加點</button>
  <button (click)="sendOut()">立刻下單</button>
</mat-dialog-actions>
