<div class="mainContainer">

  <div class="timeSectionWrapper">
    <div class="currentTimeBox">
      <span>{{currentTime}}</span>
    </div>

    <div class="timelineBody">
      <div id="progressBar" class="progressBar"></div>
      <div class="timeTicksContainer">
        @for(time of timeList; track time){
        <div class="timeTickItem">
          <span>{{time}}</span>
          <div class="tickMark"></div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="contentContainer">

    <div class="reservationListContainer">
      <div class="reservationHeader">
        <div class="dateTitle">{{reservation_date}}</div>
        <div class="searchBox">
          <span>查詢:</span>
          <input type="text" [(ngModel)]="inputSearch" (ngModelChange)="search()" class="styledInput">
        </div>
      </div>

      <div class="listScrollArea">
        @if(searchRes && inputSearch){
        @for(item of searchRes; track item){
        <div class="reservationItem">
          <div class="itemLeftGroup">
            <div class="nameText">{{item.reservationName}}</div>
            <div class="phoneText">{{item.reservationPhone}}</div>
            <div class="tableBadge">
              <span class="fontSize12">{{item.tableId}} 桌</span>
            </div>
          </div>

          <div class="itemCenterGroup">
            <div class="countBadge main">
              <span class="fontSize20">{{item.reservationCount}}</span> 位
            </div>
            <div class="countBadge sub">
              <mat-icon fontIcon="child_care"></mat-icon>
              <span>{{item.reservationChildCount}}</span>
            </div>
            <div class="countBadge sub">
              <mat-icon fontIcon="child_friendly"></mat-icon>
              <span>{{item.childSeat}}</span>
            </div>
          </div>

          <div class="itemRightGroup">
            <span class="timeText">{{item.reservationTime}}</span>
            @if(item.reservationStatus){
            <mat-icon fontIcon="check_circle" class="iconSuccess"></mat-icon>
            } @else {
            <button class="actionBtn" (click)="arrive(item.tableId,item.reservationName,
                    item.reservationPhone,item.childSeat,item.reservationAdultCount,
                    item.reservationChildCount,item.reservationNote,
                    item.reservationTime,item.reservationCount)">報到</button>
            }
          </div>
        </div>
        }
        } @else {
        @for(item of reservation; track item){
        @if(item){
        <div class="reservationItem">
          <div class="itemLeftGroup">
            <div class="nameText">{{item.reservationName}}</div>
            <div class="phoneText">{{item.reservationPhone}}</div>
            <div class="tableBadge">
              <span class="fontSize12">{{item.tableId}} 桌</span>
            </div>
          </div>

          <div class="itemCenterGroup">
            <div class="countBadge main">
              <span class="fontSize20">{{item.reservationCount}}</span> 位
            </div>
            <div class="countBadge sub">
              <mat-icon fontIcon="child_care"></mat-icon>
              <span>{{item.reservationChildCount}}</span>
            </div>
            <div class="countBadge sub">
              <mat-icon fontIcon="child_friendly"></mat-icon>
              <span>{{item.childSeat}}</span>
            </div>
          </div>

          <div class="itemRightGroup">
            <span class="timeText">{{item.reservationTime}}</span>
            @if(item.reservationStatus){
            <mat-icon fontIcon="check_circle" class="iconSuccess"></mat-icon>
            } @else {
            <button class="actionBtn" (click)="arrive(item.tableId,item.reservationName,
                      item.reservationPhone,item.childSeat,item.reservationAdultCount,
                      item.reservationChildCount,item.reservationNote,
                      item.reservationTime,item.reservationCount)">報到</button>
            }
          </div>
        </div>
        }
        }
        }
      </div>
    </div>

    <div class="mapContainer">
      <div class="mapGridWrapper">
        <div class="legendColumn">
          <div class="legendItem">
            <div class="dotGreen"></div>
            <span>可預約</span>
          </div>
          <div class="legendItem">
            <div class="dotYellow"></div>
            <span>已預約</span>
          </div>
          <div class="legendItem">
            <div class="dotRed"></div>
            <span>使用中</span>
          </div>
          <div class="legendItem">
            <div class="dotGray"></div>
            <span>未開放</span>
          </div>
        </div>
        <div class="yAxisGroup">
          <div class="axisLabel vertical">Y軸</div>
          <div class="yAxisValues">
            @for(item of len; track item){
            <div class="axisVal">{{item}}</div>
            }
          </div>
        </div>

        <div class="canvasBox">
          <canvas #canvas class="canvasElement" width="500" height="500" (mousemove)="handleMove($event)"
            (mouseup)="handleUp()" (mouseout)="handleUp()" (mouseleave)="handleUp()" (click)="click($event)"
            (mousedown)="handleDown($event)">
          </canvas>
        </div>

        <div class="xAxisGroup">
          <div class="xAxisValues">
            @for(item of len; track item){
            <span class="axisVal">{{item}}</span>
            }
          </div>
          <div class="axisLabel horizontal">X軸</div>
        </div>

      </div>
    </div>

  </div>
</div>
