<div class="background">

  <!-- dialog標題 -->
  <div mat-dialog-title>新增訂位</div>

  <!-- dialog內容 -->
  <mat-dialog-content>

    <label>訂位人:</label><input type="text" [(ngModel)]="reservation.reservationName">
    <label>訂位總人數:</label><input type="number" [(ngModel)]="reservation.reservationCount">
    <label>大人:</label><input type="number" [(ngModel)]="reservation.reservationAdultCount">
    <label>小孩:</label><input type="number" [(ngModel)]="reservation.reservationChildCount">
    <label>兒童座椅:</label><input type="number" [(ngModel)]="reservation.childSeat">


    <label>訂位日期:</label>

    <label>訂位時間:</label>


    <label>電話:</label>
    <input type="text" [(ngModel)]="reservation.reservationPhone">
    <label>備註:</label>
    <textarea></textarea>

  </mat-dialog-content>

  <!-- dialog按鈕 -->
  <mat-dialog-actions>
    <button (click)="onClick()">取消</button>
    <button (click)="onClick()">新增</button>
  </mat-dialog-actions>
</div>
