<div class="headerCss">

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="menu()">菜單</div>
  </div>

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="menuAdmin()">菜單管理</div>
  </div>

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="reservation()">訂位</div>
  </div>

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="table()">桌位</div>
  </div>

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="order()">訂單</div>
  </div>

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="workStation()">工作臺</div>
  </div>

  <div class="iconBox">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titleCss" (click)="calander()">行事曆</div>
  </div>

</div>
