/* 左側固定 Header */
.headerCss {
  position: fixed; /* 關鍵：固定位置，不隨卷軸移動 */
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #013c70;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box; /* 確保 padding 不會撐大寬度 */
}


.titleCss{
  font-size: 12px;
}

.iconBox{
  margin-top: 30px;
  text-align: center;
}
