<h2 mat-dialog-title class="diaTitle">
  新增餐點 - {{ categoryType }}
</h2>

<mat-dialog-content class="dialogContent">
  <label>菜單分類</label>
  <div class="staticText">{{ categoryType }}</div>

  <div class="formRow">

    <div class="formField">
      <label><span class="starCss">* </span>餐點名稱</label>
      <input type="text" class="styledInput" [(ngModel)]="productList.productName" placeholder="請輸入餐點名稱">
    </div>

    <div class="formField">
      <label><span class="starCss">* </span>價格</label>
      <input type="number" class="styledInput" [(ngModel)]="productList.productPrice" min="0" placeholder="0">
    </div>

  </div>

  <label><span class="starCss">* </span>餐點描述</label>
  <textarea class="styledInput" [(ngModel)]="productList.productDescription" placeholder="簡短介紹餐點特色" rows="3"></textarea>

  <label>內部備註</label>
  <textarea class="styledInput" [(ngModel)]="productList.productNote" placeholder="廚房或內部查看用" rows="2"></textarea>

  <label><span class="starCss">* </span>餐點圖片</label>
  <div class="fileInputWrapper">
    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" hidden>

    <label for="fileInput" class="uploadBtn">
      <mat-icon>upload</mat-icon>
      <span>點擊選擇圖片</span>
    </label>
  </div>

  @if (selectedFile) {
  <div class="fileStatus">
    <mat-icon>check_circle</mat-icon>
    已選取檔案: {{ selectedFile.name }}
  </div>
  }

</mat-dialog-content>

<!-- dialog按鈕 -->
<mat-dialog-actions class="dialogActions">
  <button (click)="onNoClick()" class="dialogBtn cancelBtn">取消</button>

  <button (click)="onAddClick()" class="dialogBtn confirmBtn">確定</button>
</mat-dialog-actions>



