h2 {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.productCss {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  width: 250px;
  max-width: 500px;
  margin: 20px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productCss > span {
  display: flex;
  flex-direction: column;
}

.priceCss {
  position: absolute;
  right: 15%;
  font-weight: bold;
  color: #333;
}

.buttonCss {
  width: 300px;
  max-width: 500px;
  height: 80px;
  border-radius: 30px;
  border-style: dashed;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  left: 60%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.countCss {
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  height: 35px;
  font-size: 25px;
}

@media screen and (max-width: 768px) {

  h2 {
    font-size: 1.5em;
  }

  .buttonCss {
    height: 70px;
    bottom: 10px;
    font-size: 18px;
  }

  body > div:nth-of-type(1) {
    padding-bottom: 100px;
  }
}
