.productCss{
  border: 2px;
  height: 50px;
  border:1px solid gray;
  padding:10px;
  border-radius: 15px;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.priceCss{
  position: relative;
  left: 85%;
}

.buttonCss{
  width: 500px;
  height: 100px;
  position: absolute;
  bottom: 10%;
  right: 18%;
  border-radius: 30px;
  border-style: dashed;
}
