.boxCss {
  background-color: rgba(164, 235, 240, 0.8);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 80%;
  height: 5%;
  margin-left: 8%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.selectBox {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
  height: 10%;
}

.labelCss {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}

.inputCss {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tableCss{
  width: 83%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}
