main {
  margin-left: 90px;
  margin-right: 20px;
}

/* loading */
mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2px);
}
