<div class="page">

  <div class="content">

    <mat-tab-group class="categoryTabs" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
      @for (category of allCategoryDto; track $index) {
      <mat-tab>
        <!-- tab區域 -->
        <ng-template mat-tab-label>
          <div class="tabLabel">
            <span class="labelText">{{ category.categoryType }}</span>

            <div class="actionIcons">
              <!-- 移除 -->
              <button mat-icon-button color="warn" class="mini-btn" (click)="delCategory(category)">
                <mat-icon>remove</mat-icon>
              </button>

              <!-- 編輯 -->
              <button mat-icon-button class="mini-btn" (click)="updateCategory(category)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

          </div>
        </ng-template>


        <!-- 套餐分類 -->
        @if (category.categoryType == '套餐') {
        <div class="cardGrid">

          @for (pkg of setList; track $index) {
          <div class="card packageCard" (click)="onSetSelected(pkg)" [class.is-inactive]="!pkg.settingActive">

            <img [src]="pkg.settingImg || 'assets/default-package.jpg'">

            <div class="cardBody">
              <div class="cardTitle">{{ pkg.settingName }}</div>
              <div class="price">${{ pkg.settingPrice }}</div>

              <div class="note">{{ pkg.settingNote }}</div>

              <div class="packageDetail">
                @for (group of pkg.settingDetail; track $index) {
                <div class="detailRow">
                  <span class="tag category">
                    {{ group.categoryType }}
                  </span>
                  @for (item of group.detailList; track $index) {
                  <span class="tag product">
                    {{ item.productName }}
                  </span>
                  }
                </div>
                }
              </div>
            </div>

            <div class="cardFooter">
              <mat-slide-toggle [(ngModel)]="pkg.settingActive" (change)="launchSet(pkg)">
                是否上架
              </mat-slide-toggle>

              <button mat-icon-button [matMenuTriggerFor]="pkgMenu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #pkgMenu="matMenu">
                <button mat-menu-item (click)="updateSet(pkg)">
                  <mat-icon>edit</mat-icon> 編輯
                </button>
                <button mat-menu-item (click)="delSet(pkg)">
                  <mat-icon>delete</mat-icon> 刪除
                </button>
              </mat-menu>
            </div>

          </div>
          }

          <!-- 新增套餐 -->
          <div class="card addCard" (click)="addSets()">
            <mat-icon>add_circle</mat-icon>
            <span>新增套餐</span>
          </div>
        </div>
        }

        @else {
        <div class="cardGrid">
          <!-- 其他分類 -->
          @for (product of productList; track $index) {
          <div class="card" [class.is-inactive]="!product.productActive">

            <img [src]="product.imageUrl">

            <div class="cardBody">
              <div class="cardTitle">{{ product.productName }}</div>
              <div class="note">{{ product.productDescription }}</div>
              <div class="price">${{ product.productPrice }}</div>
            </div>

            <!-- 餐點編輯區塊 -->
            <div class="cardFooter">
              <mat-slide-toggle [(ngModel)]="product.productActive" (change)="launchProduct($event, product)">
                是否上架
              </mat-slide-toggle>

              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateProduct(product)">
                  <mat-icon>edit</mat-icon> 編輯
                </button>
                <button mat-menu-item (click)="delProduct(product)">
                  <mat-icon>delete</mat-icon> 刪除
                </button>
              </mat-menu>
            </div>

          </div>
          }

          <!-- 新增餐點 -->
          <div class="card addCard" (click)="addProduct()">
            <mat-icon>add_circle</mat-icon>
            <span>新增餐點</span>
          </div>

        </div>
        }

      </mat-tab>
      }

      <mat-tab>
        <!-- 新增分類tab -->
        <ng-template mat-tab-label>
          <mat-icon>add_circle</mat-icon>
        </ng-template>

        <div class="addCategoryForm">
          <h3>新增分類</h3>

          <label>分類名稱</label>
          <input [(ngModel)]="categoryDto.categoryType">

          <label>工作檯</label>
          <select [(ngModel)]="categoryDto.workstationId">
            <option value="">請選擇</option>
            @for (ws of workstationList; track ws.workStationId) {
            <option [ngValue]="ws.workStationId">
              {{ ws.workStationName }}
            </option>
            }
          </select>

          <button (click)="addCategory()">建立分類</button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>


  <!-- 客製化區域 -->
  @if (currentCategoryId > 0) {
  <aside class="customizeSidebar">

    <div class="sidebarTitle">
      @if (currentCategory.categoryType == '套餐') {
      套餐內容客製化 (預覽)
      } @else {
      客製化選項
      }
    </div>

    @for (option of optionList; track $index) {
    <div class="customizeGroup">

      <div class="customizeHeader">
        <span>{{ option.optionName }}</span>

        @if (currentCategory.categoryType !== '套餐') {
        <div>
          <mat-icon (click)="updateCustomized(option)">edit</mat-icon>
          <mat-icon (click)="delCustomized(option)">delete</mat-icon>
        </div>
        }
      </div>

      @for (detail of option.optionDetail; track $index) {
      <label class="customizeItem">
        <input type="radio">
        {{ detail.option }}
        @if (detail.addPrice > 0) {
        <span class="extra">+ ${{ detail.addPrice }}</span>
        }
      </label>
      }
    </div>
    }
    @if (currentCategory.categoryType !== '套餐') {
    <div class="addCustomize" (click)="addCustomized()">
      <mat-icon>add_circle</mat-icon>
      <span>新增客製化</span>
    </div>
    }

  </aside>
  }

</div>
