<div class="background">
  <h2 mat-dialog-title class="diaTitle">編輯活動：{{ data.calendarTitle }}</h2>


  <mat-dialog-content class="dialogContent">
    <div class="formRow">
      <div class="formField fullWidth">
        <label><span class="starCss">* </span>活動標題</label>
        <form [formGroup]="form">
        <input type="text" class="styledInput" formControlName="calendarTitle" placeholder="請輸入標題"></form>
      </div>
    </div>

    <div class="formRow">
      <div class="formField fullWidth">
        <label><span class="starCss">* </span>活動圖片</label>
        <div class="imagePreviewContainer">
          @if (newPhotoUrl) {
          <img [src]="newPhotoUrl" alt="{{ data.calendarTitle }} 活動照片" class="previewImg">
          } @else {
          <div class="noImagePlaceholder">
            <p>此活動沒有可顯示的圖片</p>
          </div>
          }
        </div>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="fileInput">
      </div>
    </div>

    <div class="formRow">
      <form [formGroup]="form">
        <div class="formField">
          <label><span class="starCss">* </span>開始日期</label>
          <input type="date" class="styledInput" formControlName="calendarStartDate" [min]="today">
        </div>
        <div class="formField">
          <label><span class="starCss">* </span>結束日期</label>
          <input type="date" class="styledInput" formControlName="calendarEndDate" [min]="minEndDate">
        </div>
      </form>

    </div>

    <div class="formRow">
      <div class="formField fullWidth">
        <small class="infoText">
          原本時間：{{ data.calendarStartDate | date:'yyyy/MM/dd' }} ~ {{ data.calendarEndDate | date:'yyyy/MM/dd' }}
        </small>
      </div>
    </div>

    <div class="formRow">
      <div class="formField fullWidth">
        <label><span class="starCss">* </span>活動內容</label>
        <form [formGroup]="form">
        <textarea class="styledInput" formControlName="calendarDescription" rows="5"
          placeholder="請輸入活動內容..."></textarea></form>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="dialogActions spaceBetween">
    <button (click)="onDeleteClick()" class="dialogBtn deleteBtn">刪除</button>

    <div class="rightActions">
      <button (click)="onCancelClick()" class="dialogBtn cancelBtn">取消</button>

      <button [disabled]="form.invalid" (click)="onSaveDraftClick()" class="dialogBtn draftBtn">
        暫存
      </button>

      <button [disabled]="form.invalid" (click)="onPublishClick()" class="dialogBtn confirmBtn">
        發布
      </button>
    </div>
  </mat-dialog-actions>
</div>
