<div class="container">
  <div class="header">

    <p >外送員:{{name}}/</p>
    <p>電話:{{phone}}</p>
    <button class="logout-btn" (click)="Signout()">登出</button>
  </div>

  <div class="main">
    <div class="sidebar">
      <nav>
        <ul>
          <li><a routerLink="/front">首頁</a></li>
          <li><a routerLink="/todays/orders">今日已完成訂單</a></li>
           <li><a routerLink="/analyze">薪資分析</a></li>
          <li><a routerLink="/historyorders">歷史訂單</a></li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <div class="bottom-section">
        <h1 class="h1">歷史訂單</h1>

        <!-- 日期過濾區 -->
        <div class="filter-section">
          <mat-form-field appearance="outline">
            <mat-label>選擇日期</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="filterBySingleDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>開始日期</mat-label>
            <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>結束日期</mat-label>
            <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="filterByRange()">搜尋區間</button>
          <button mat-button color="warn" (click)="resetFilter()">重置</button>
        </div>
         <h1 class="h1">接單數 {{ items.length }} /  總金額{{totalMoney}}</h1>
        <!-- 原本的訂單列表 -->
        @if (items.length > 0) {
          <mat-accordion>
            @for (item of items; track $index) {
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ item.orderNo }}</mat-panel-title>
                  <mat-panel-description>{{ item.distanceKm  }}km / {{item.money}}$</mat-panel-description>
                  <mat-panel-description>{{item.date}}</mat-panel-description>
                </mat-expansion-panel-header>

                 @for (p of item.products; track p.name) {
          <p>{{ p.name }} - {{ p.options.join(', ') }}</p>
        }
         <p>總價: ${{ item.totalPrice }}</p>
              </mat-expansion-panel>
            }
          </mat-accordion>
        } @else {
          <p>沒有符合條件的資料</p>
        }

      </div>
    </div>
  </div>
</div>
