@if(ordersType == 'A'){
<h2>{{ displayOrderType }} 桌號: {{ displayTableId }}</h2>
} @else {
<h2>{{ displayOrderType }}</h2>
}

<div class="content-container">

  <div class="menu-section">
    @if (!isLoadingCategories) {
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      @for (category of categories; track category.categoryId) {
      <mat-tab [label]="category.categoryType">
        <div
          style="padding: 30px; display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 10px;">
          @if (category.products && !category.isLoadingProducts) {
          @for (item of category.products; track item.productId) {
          <div (click)="openProductDetail(category.categoryId, item.productId)" class="productCss">
            <span>{{ item.productName }}<br>
              <span class="priceCss">${{ item.productPrice }}</span></span>
          </div>
          } @empty {
          <p>此分類暫無商品。</p>
          }
          } @else {
          <p>商品載入中...</p>
          }
        </div>
      </mat-tab>
      }
    </mat-tab-group>
    } @else {
    <p>分類載入中...</p>
    }
  </div>

  <div class="cart-section">
    <h3>🛒 當前訂單預覽</h3>

    <div class="cart-list">
      @if (currentCart.length > 0) {

      @for (item of currentCart; track item.orderDetailsId) {
      <div class="cart-item">
        <div class="item-info">
          <span class="item-name">{{ item.productName }}</span>
          <span class="item-quantity"> x {{ item.quantity }}</span>
        </div>

        <div class="item-right">
          <span class="item-price">${{ item.orderDetailsPrice }}</span>
          <mat-icon class="delete-btn" (click)="deleteCartItem(item)">delete</mat-icon>
        </div>


        @if(item.settingId > 0){
        @for(subItem of item.orderDetails; track subItem.productId){
        <small>{{ subItem.productName }}
          @if (item.orderDetails && item.orderDetails[0] && item.orderDetails[0].detailList?.length) {
          <small style="color: #888;">
            客製化:
            @for (detail of item.orderDetails[0].detailList; track detail.option) {
            {{ detail.option }} (+{{ detail.addPrice }})
            }<br>
          </small>
          }
        </small>
        }
        } @else {
        @if (item.orderDetails && item.orderDetails[0] && item.orderDetails[0].detailList?.length) {
        <small style="color: #888;">
          客製化:
          @for (detail of item.orderDetails[0].detailList; track detail.option) {
          {{ detail.option }} (+{{ detail.addPrice }})
          }
        </small>
        }
        }

      </div>
      }
      <div class="cart-footer">
        <div class="cart-summary">

          <div class="summary-row">
            <span>總計項目</span>
            <span class="summary-value">{{ currentCart.length }} 項</span>
          </div>

          <div class="summary-row total-amount">
            <span>總金額</span>
            <span class="price-text">$NT {{ getTotalPrice() }}</span>
          </div>
        </div>
      </div>
      } @else {
      <p style="text-align: center; color: #888; padding-top: 50px;">購物車中暫無商品。</p>
      }
      <button class="buttonCss" (click)="submitCart()">
        送出更新資料
        <span class="countCss">{{ this.currentCart.length }}</span>
      </button>
    </div>


  </div>
