.board-card {
  padding: 15px;
  border-radius: 20px;
  background-color: lightblue;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
}

.board-line {
  height: 2px;
  background: #ccc;
  margin: 8px 0 12px;
}

.board-item {
  margin-bottom: 20px;
  padding: 8px;
  border-left: 4px solid #1976d2;
}

.boardCss{
  display: flex;
  justify-content: center;
  // align-items: center;
}


