<div style="height: auto; padding-left: 5%; padding-right: 5%;">
  <div style="display: flex; align-items: center;">
    <h1>餐點狀態</h1>
    <span style="flex: 1 1 auto"></span>
    <h3 style="margin-right: 30px;">待送餐點</h3>
    <div class="divCss1">
      <span>{{count}}</span>
    </div>
  </div>
  <div style="width: 100%; height: auto; display: flex;">
    <div
      style="height: 800px; width:300px; border: 1px solid black; background-color: rgba(128,128,128,0.5); border-radius: 10px; padding: 10px;">
      <h3>準備中</h3>
      @for(order of orderMealList;track order){
      @if(order.orderStatus == "準備中"){
      <div style="background-color: white; border: 1px solid black; border-radius: 5px; ">
        @if(order.innerId){
        <div style="display: flex; padding: 10px; align-items: start;">
          <div
            style="border: 1px solid black; background-color: black; color: white; border-radius: 10px; padding: 5px;">
            <span>桌號{{order.tableId}}</span>
          </div>
          <span style="flex: 1 1 auto; "></span>
          <div
            style="border: 1px solid black; background-color: black; color: white; border-radius: 10px; padding: 5px;">
            <span>訂單編號</span> <br>
            <span>{{order.innerId}}</span>
          </div>
        </div>
        @for(meal of order.optionsDetail;track meal){
        <div>
          <ul>
            <li>{{meal.productName}}&#40;
              @for(detail of meal.detailList;track detail){
              <span>{{detail.option}}</span>
              @if(detail.id != meal.detailList.length){
              <span>，</span>
              }
              }
              <span>&#41;</span>
            </li>
          </ul>
        </div>
        <br>
        }
        }@else if(order.takeOutId){
        {{order.takeOutId}}
        }
      </div>
      }
      }
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div
      style="height: 800px; width:300px; border: 1px solid black; background-color: yellow; border-radius: 10px; padding: 10px;">
      <h3>待送餐點</h3>
      @for(order of orderMealList;track order){
      @if(order.orderStatus == "待送餐"){
      <div style="background-color: white; border: 1px solid black; border-radius: 5px; ">
        @if(order.innerId){
        <div style="display: flex; padding: 10px; align-items: start;">
          <div
            style="border: 1px solid black; background-color: black; color: white; border-radius: 10px; padding: 5px;">
            <span>桌號A01</span>
          </div>
          <span style="flex: 1 1 auto; "></span>
          <div
            style="border: 1px solid black; background-color: black; color: white; border-radius: 10px; padding: 5px;">
            <span>訂單編號</span> <br>
            <span>{{order.innerId}}</span>
          </div>
        </div>
        @if(order.settingId){
          <span style="margin-left: 10px;">{{order.settingId}}號餐</span>
        }
         @for(meal of order.optionsDetail;track meal){
        <div>
          <ul>
            <li>{{meal.productName}}&#40;
              @for(detail of meal.detailList;track detail){
              <span>{{detail.option}}</span>
              @if(detail.id != meal.detailList.length){
              <span>，</span>
              }
              }
              <span>&#41;</span>
            </li>
          </ul>
        </div>
        <br>
        }
        <div style="display: flex; padding: 10px;">
          <span style="flex: 1 1 auto;"></span>
          <button (click)="delivery()">已送餐</button>
        </div>

        }@else if(order.takeOutId){
        {{order.takeOutId}}
        }
      </div>
      }

      }
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div
      style="height: 800px; width:300px; border: 1px solid black; background-color: rgba(128,128,128,0.5); border-radius: 10px; padding: 10px;">
      <h3>已送達</h3>
      @for(order of orderMealList;track order){
      @if(order.orderStatus == "已送達"){
      <div style="background-color: white; border: 1px solid black; border-radius: 5px; ">
        @if(order.innerId){
        <div style="display: flex; padding: 10px; align-items: start;">
          <div
            style="border: 1px solid black; background-color: black; color: white; border-radius: 10px; padding: 5px;">
            <span>桌號A01</span>
          </div>
          <span style="flex: 1 1 auto; "></span>
          <div
            style="border: 1px solid black; background-color: black; color: white; border-radius: 10px; padding: 5px;">
            <span>訂單編號</span> <br>
            <span>{{order.innerId}}</span>
          </div>
        </div>
        @for(meal of order.optionsDetail;track meal){
        <div>
          <ul>
            <li>{{meal.productName}}&#40;
              @for(detail of meal.detailList;track detail){
              <span>{{detail.option}}</span>
              @if(detail.id != meal.detailList.length){
              <span>，</span>
              }
              }
              <span>&#41;</span>
            </li>
          </ul>
        </div>
        <br>
        }
        }@else if(order.takeOutId){
        {{order.takeOutId}}
        }
      </div>
      }

      }

    </div>
  </div>
</div>
