<!-- <div class="kds-container">

  <div class="top-bar">
    <h1>餐點狀態看板</h1>
    <div class="pending-status">
      <h3>待送餐點</h3>
      <div class="count-badge">
        <span>{{count}}</span>
      </div>
    </div>
  </div>
s
  <div class="kanban-board">

    <div class="kanban-column col-preparing">
      <div class="column-header">
        <h3>準備中</h3>
      </div>

      <div class="column-content">
        @for(order of orders;track order){
        @if(order.status.includes("製作中")){
        <div class="order-card">
          <div class="card-header">
            <span class="order-id">#{{order.orderCode}}</span>
            <span class="order-type">
              @if(order.tableId){
              內用 {{order.tableId}}
              }@else if(order.orderCode.includes("T")){
              外帶
              }@else {
              外送
              }
            </span>
          </div>

          <div class="payment-row">
            @if(order.paid){
            <span class="badge paid">已付款</span>
            }@else {
            <span class="badge unpaid">尚未付款</span>
            }
            <span style="flex: 1 1 auto;"></span>
            <span>{{order.orderTime}}</span>
          </div>

          <div class="product-list">
            @for(product of order.orderProductList;track product){
            <div class="product-group">
              @if(product.settingId > 0 && product.status.includes("製作中")){
              <div class="set-title">{{product.settingId}}號餐</div>
              <div class="sub-items">
                @for(detail of product.orderDetails;track detail){
                @if(detail.mealStatus == "製作中"){
                <div class="item-row">
                  <span class="item-name">{{detail.productName}}</span>
                  <div class="modifiers">
                    (
                    @for(option of detail.detailList;track option){
                    {{option.option}}
                    @if(option.id != detail.detailList.length){ <span>, </span> }
                    }
                    )
                  </div>
                </div>
                }
                }
              </div>
              }@else {
              @for(detail of product.orderDetails;track detail){
              @if(detail.mealStatus == "製作中"){
              <div class="item-row">
                <span class="item-name">{{detail.productName}}</span>
                <div class="modifiers">
                  (
                  @for(option of detail.detailList;track option){
                  {{option.option}}
                  @if(option.id != detail.detailList.length){ <span>, </span> }
                  }
                  )
                </div>
              </div>
              }
              }
              }
            </div>
            }
          </div>
        </div>
        }
        }
      </div>
    </div>

    <div class="kanban-column col-ready">
      <div class="column-header">
        <h3>待送餐</h3>
      </div>

      <div class="column-content">
        @for(order of orders;track order){
          @if(order.status.includes("待送餐") || order.status.includes("餐點已完成")){
            <div class="order-card ready-card">
              <div class="card-header">
                <span class="order-id">#{{order.orderCode}}</span>
                <span class="order-type">
                  @if(order.tableId){
                    內用 {{order.tableId}}
                  }@else if(order.orderCode.includes("T")){
                    外帶
                  }@else {
                    外送
                  }
                </span>
              </div>

          <div class="payment-row">
            @if(order.paid){
            <span class="badge paid">已付款</span>
            }@else {
            <span class="badge unpaid">尚未付款</span>
            }
            <span style="flex: 1 1 auto;"></span>
            <span>{{order.orderTime}}</span>
          </div>

              <div class="product-list">
                @for(product of order.orderProductList;track product){
                  @if(order.orderCode.includes("A")){
                    <div class="product-group">
                      @if(product.settingId > 0 && product.status.includes("待送餐") || product.settingId > 0 && product.status.includes("餐點已完成")){
                        <div class="set-title">{{product.settingId}}號餐</div>
                        @for(detail of product.orderDetails;track detail){
                          @if(detail.mealStatus == "待送餐" || detail.mealStatus == "餐點已完成"){
                            <div class="action-row">

                              <div class="item-info">
                                <span class="item-name">{{detail.productName}}</span>
                                <div class="modifiers">
                                  (
                                  @for(option of detail.detailList;track option){
                                    {{option.option}}
                                    @if(detail.detailList.length != option.id){ <span>, </span> }
                                  }
                                  )
                                </div>
                              </div>
                               <button class="serve-btn" (click)="delivery(order.orderId,true,product.orderDetailsId,detail.productId)">送出</button>
                            </div>
                          }
                        }
                      }@else {
                        @for(detail of product.orderDetails;track detail){
                          @if(detail.mealStatus == "待送餐" || detail.mealStatus == "餐點已完成"){
                            <div class="action-row">
                              <button class="serve-btn" (click)="delivery(order.orderId,true,product.orderDetailsId,detail.productId)">送出</button>
                              <div class="item-info">
                                <span class="item-name">{{detail.productName}}</span>
                                <div class="modifiers">
                                  (
                                  @for(option of detail.detailList;track option){
                                    {{option.option}}
                                    @if(detail.detailList.length != option.id){ <span>, </span> }
                                  }
                                  )
                                </div>
                              </div>
                            </div>
                          }
                        }
                      }
                    </div>
                  }
                  @else {
                    <div class="product-group">
                      @if(product.settingId > 0 && product.status.includes("待送餐") || product.settingId > 0 && product.status.includes("餐點已完成")){
                        <div class="set-title">{{product.settingId}}號餐</div>
                        @for(detail of product.orderDetails;track detail){
                          @if(detail.mealStatus == "待送餐" || detail.mealStatus == "餐點已完成"){
                            <div class="item-row simple">
                              {{detail.productName}} (
                              @for(option of detail.detailList;track option){
                                {{option.option}}
                                @if(detail.detailList.length != option.id){ <span>, </span> }
                              }
                              )
                            </div>
                          }
                        }
                      }@else {
                        @for(detail of product.orderDetails;track detail){
                          @if(detail.mealStatus == "待送餐" || detail.mealStatus == "餐點已完成"){
                            <div class="item-row simple">
                              {{detail.productName}} (
                              @for(option of detail.detailList;track option){
                                {{option.option}}
                                @if(detail.detailList.length != option.id){ <span>, </span> }
                              }
                              )
                            </div>
                          }
                        }
                      }
                    </div>
                  }
                }

                @if(!order.status.includes("製作中") && !order.orderCode.includes("A")){
                  <div class="full-order-action">
                    <button class="serve-btn full" (click)="delivery(order.orderId,false)">整單已送餐</button>
                  </div>
                </div>
                <button class="serve-btn"
                  (click)="delivery(order.orderId,true,product.orderDetailsId,detail.productId)">送出</button>
              </div>
              }
              }
              }@else {
              @for(detail of product.orderDetails;track detail){
              @if(detail.mealStatus == "待送餐"){
              <div class="action-row">

                <div class="item-info">
                  <span class="item-name">{{detail.productName}}</span>
                  <div class="modifiers">

                    (
                    @for(option of detail.detailList;track option){
                    {{option.option}}
                    @if(detail.detailList.length != option.id){ <span>, </span> }
                    }
                    )

                  </div>

                </div>
                <button class="serve-btn"
                    (click)="delivery(order.orderId,true,product.orderDetailsId,detail.productId)">送出</button>
              </div>
              }
              }
              }
            </div>
            }
            @else {
            <div class="product-group">
              @if(product.settingId > 0 && product.status.includes("待送餐")){
              <div class="set-title">{{product.settingId}}號餐</div>
              @for(detail of product.orderDetails;track detail){
              @if(detail.mealStatus == "待送餐"){
              <div class="item-row simple">
                {{detail.productName}} (
                @for(option of detail.detailList;track option){
                {{option.option}}
                @if(detail.detailList.length != option.id){ <span>, </span> }
                }
                )
              </div>
              }
              }
              }@else {
              @for(detail of product.orderDetails;track detail){
              @if(detail.mealStatus == "待送餐"){
              <div class="item-row simple">
                {{detail.productName}} (
                @for(option of detail.detailList;track option){
                {{option.option}}
                @if(detail.detailList.length != option.id){ <span>, </span> }
                }
                )
              </div>
              }
              }
              }
            </div>
            }
            }

            @if(!order.status.includes("製作中") && !order.orderCode.includes("A")){
            <div class="full-order-action">
              <button class="serve-btn full" (click)="delivery(order.orderId,false)">整單已送餐</button>
            </div>
            }
          </div>
        </div>
        }
        }
      </div>
    </div>

    <div class="kanban-column col-served">
      <div class="column-header">
        <h3>已送達</h3>
      </div>

      <div class="column-content">
        @for(order of orders;track order){
          @if(order.status.includes("已送達") || order.status.includes("餐點已送出") ){
            <div class="order-card served-card">
              <div class="card-header">
                <span class="order-id">#{{order.orderCode}}</span>
                <span class="order-type">
                  @if(order.tableId){
                    內用 {{order.tableId}}
                  }@else if(order.orderCode.includes("T")){
                    外帶
                  }@else {
                    外送
                  }
                </span>
              </div>

          <div class="payment-row">
            @if(order.paid){
            <span class="badge paid">已付款</span>
            }@else {
            <span class="badge unpaid">尚未付款</span>
            }
            <span style="flex: 1 1 auto;"></span>
            <span>{{order.orderTime}}</span>
          </div>

              <div class="product-list">
                @for(product of order.orderProductList;track product){
                  <div class="product-group">
                    @if(product.settingId > 0 && product.status.includes("已送達") || product.settingId > 0 && product.status.includes("餐點已送出") ){
                      <div class="set-title">{{product.settingId}}號餐</div>
                      @for(detail of product.orderDetails;track detail){
                        @if(detail.mealStatus == "已送達"){
                          <div class="item-row faded">
                            {{detail.productName}} (
                            @for(option of detail.detailList;track option){
                              {{option.option}}
                              @if(detail.detailList.length != option.id){ <span>, </span> }
                            }
                            )
                          </div>
                        }
                      }
                    }@else {
                      @for(detail of product.orderDetails;track detail){
                        @if(detail.mealStatus == "已送達" || detail.mealStatus == "餐點已送出"){
                          <div class="item-row faded">
                            {{detail.productName}} (
                            @for(option of detail.detailList;track option){
                              {{option.option}}
                              @if(detail.detailList.length != option.id){ <span>, </span> }
                            }
                            )
                          </div>
                        }
                      }
                    }
                  </div>
                }
                )
              </div>
              }
              }
              }@else {
              @for(detail of product.orderDetails;track detail){
              @if(detail.mealStatus == "已送達"){
              <div class="item-row faded">
                {{detail.productName}} (
                @for(option of detail.detailList;track option){
                {{option.option}}
                @if(detail.detailList.length != option.id){ <span>, </span> }
                }
                )
              </div>
              }
              }
              }
            </div>
            }
          </div>
        </div>
        }
        }
      </div>
    </div>

  </div>
</div> -->
