.divCss1 {
  height: auto;
  width: auto;
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

ul{
  margin: 0px;
}
