<div class="background">

  <div mat-dialog-title class="diaTitle">
    ＊提示＊
  </div>

  <mat-dialog-content>
    <div>
      <p>{{ data.message }}</p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="btnBox">
      @if(data.flag){
        <button (click)="next(false)" class="btn">確定</button>
      } @else {
        <button (click)="next(false)" class="btn">取消</button>

        <button (click)="next(true)" class="btn">確定</button>
      }
    </div>
  </mat-dialog-actions>

</div>
