<mat-dialog-content>
  <h4>活動標題:</h4> {{ activityData.title }} <br>
  <h4>活動時間:</h4> {{ activityData.startDate | date:'yyyy/MM/dd'}} ~ {{ activityData.endDate | date:'yyyy/MM/dd'}} <br>
  <h4>問卷說明:</h4> {{ activityData.description }}

  @if (activityData.photo) {
    <img [src]="activityData.photo" alt="活動圖片" style="max-width: 100%; height: auto; margin-top: 10px;">
  } @else {
    <p style="color: #999;">[無活動圖片]</p>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onPublishClick()">發布</button>
  <button mat-button (click)="onSaveClick()">暫存</button>
  <button mat-button (click)="onCancelClick()">取消</button>
</mat-dialog-actions>
