<div class="background">

  <div mat-dialog-title class="diaTitle">
    @if (data.deleteType == 'reservation') {
      刪除訂位
    } @else if (data.deleteType == 'product') {
      刪除餐點
    } @else if (data.deleteType == 'option') {
      刪除客製化項目
    }
  </div>

  <mat-dialog-content>
    <div>
      @if (data.deleteType == 'reservation') {
        確定是否刪掉此筆訂單?
      } @else if (data.deleteType == 'product') {
        確定是否刪掉此餐點? (刪除後將無法復原)
      } @else if (data.deleteType == 'option'){
        確定是否刪掉此筆客製化?
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="btnBox">
      <button (click)="onNoClick()" class="btn">取消</button>
      <button (click)="onCheckClick()" class="btn">確定</button>
    </div>
  </mat-dialog-actions>
</div>
