.background {
  text-align: left;
  padding: 30px 30PX;
}

.diaTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}


.btn {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}

.btnBox {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.inputBoxCss {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  white-space: nowrap; /* 確保標籤文字不會換行 */
  font-weight: 500;
}

