// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}


.mat-mdc-tab.mdc-tab{
  padding: 0;
}

.mat-mdc-tab-labels {
    display: flex;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 5%;
    flex: 1 0 auto;


  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

}

/* You can add global styles to this file, and also import other style files */
// 原有的設定
html,
body {
  height: 100%;
  background-color: rgb(248, 249, 250);
  overflow-x: hidden;
}



// Tab 內容區域
.mat-mdc-tab-body-active > .mat-mdc-tab-body-content {
  visibility: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  max-width: 1000px;
  box-sizing: border-box;
}

mat-tab-group {
  max-width: 1000px !important;
  width: 100%;
  flex-grow: 1;
}



