
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%;background-color: rbg(220,220,220); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-tab.mdc-tab{
  padding: 0;
}

.mat-mdc-tab-labels {
    display: flex;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 5%;
    flex: 1 0 auto;
}

.mat-tab-body-animating>.mat-mdc-tab-body-content, .mat-mdc-tab-body-active>.mat-mdc-tab-body-content {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}
.mat-mdc-tab-body-wrapper{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
