// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}


.mat-mdc-tab.mdc-tab {
  padding: 0;
}


/* You can add global styles to this file, and also import other style files */
// 原有的設定
html,
body {
  height: 100%;
  background-color: rgb(248, 249, 250);
  overflow-x: hidden;
}



// Tab 內容區域
.mat-mdc-tab-body-active>.mat-mdc-tab-body-content {
  visibility: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  max-width: 1000px;
  box-sizing: border-box;
}

mat-tab-group {
  max-width: 1000px !important;
  width: 100%;
  flex-grow: 1;
}


mat-slide-toggle {

  /* 大小設定 */
  transform: scale(0.9); // 整體縮放為 0.8 倍

  /* 開啟狀態 (Selected)*/
  /* 靜止時 */
  --mdc-switch-selected-track-color: #013c70 !important;
  --mdc-switch-selected-handle-color: #fff !important;

  /* 滑鼠懸停 (Hover) */
  --mdc-switch-selected-hover-track-color: #013c70 !important;
  --mdc-switch-selected-hover-handle-color: #e0e0e0 !important;

  /* 點擊聚焦 (Focus) */
  --mdc-switch-selected-focus-track-color: #013c70 !important;
  --mdc-switch-selected-focus-handle-color: #e0e0e0 !important;

  /* 按下瞬間 (Pressed) */
  --mdc-switch-selected-pressed-track-color: #013c70 !important;
  --mdc-switch-selected-pressed-handle-color: #e0e0e0 !important;

  /* 關閉狀態 (Unselected)*/
  --mdc-switch-unselected-track-color: #e0e0e0 !important;
  --mdc-switch-unselected-handle-color: #fff !important;

}
